*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 64px;
}

/* Header */

header{
    background-color: rgb(20, 20, 59);
    color: white;
    text-transform: uppercase;
    padding: 12px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    width: 100%;
    height: 100%;
    padding-left: 22px;
}

nav ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
    font-weight: 100;
    padding: 10px;
}

.btn {
    background-color: rgb(41, 167, 41);
    border-radius: 4px;
    
}

/*Container imagem*/
.container__incial{
    height: 100vh;
    background-image: url(../img/istockphoto-1356118511-1024x1024.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 56px;
    text-shadow: -3px 3px 1px black;
}

.container__incial p {
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    text-shadow: -3px 3px 1px black;
}
